[Configuration]
bind_port=0.0.0.0
debug=True
http_port=8001
document_bucket=
use_sqsbackend=True
backend_url=redis://localhost:6379/2
celery_queue_pass=
celery_queue_user=
celery_queue_prefix=
encryption_salt=JG7ncwAacbfwPyn65fAU8vgvFzmzRNCg
encryption_key=efutzGMyGLC5zBUSunKqwwVq8m3jVQKk
document_bucket=pain-uat-data-bucket
document_bucket_access_key=
document_bucket_access_secret=
request_bucket=
request_bucket_access_key=
request_bucket_access_secret=
temporary_files=/tmp
hdfs_master_node=localhost
spark_namespace=userdata
populate_sparks=True
mysql_user=
mysql_pass=
mysql_host=
mysql_db=
local_storage=True
spark_home=/u01/hadoop/spark
hadoop_home=/u01/hdoop/hadoop-2.10.2
jdk_home=/usr/lib/jvm/java-....
environment=development
email_to_override=paulmaszy@gmail.com
stripe_key=
local_storage=True
