@import './base.css';

#app {
  font-weight: 400;
  height: 100vh !important;
 
}



input[type="password"] {
  width: 100% !important;
}


input[type="text"] {
  width: 100% !important;
}

.main-logo{
  width: auto;
  height: 24px;
}
