[Configuration]
bind_port=0.0.0.0
debug=True
http_port=8001
document_bucket=c75cc4f72cd8b2c93bf04a8aecfe1091c962c940269396cb124f432b3932cb4
use_sqsbackend=True
backend_url=redis://localhost:6379/2
celery_queue_pass=IV7awies1Lx6znhisiuPChzHCniB4FMrSYwgHnT2
celery_queue_user=AKIASMWTDRL5RR5QVRHX
celery_queue_prefix=dev-user-deepsport-queue.fifo
encryption_salt=JG7ncwAacbfwPyn65fAU8vgvFzmzRNCg
encryption_key=efutzGMyGLC5zBUSunKqwwVq8m3jVQKk
request_bucket=dstoolkit-data-requests
request_bucket_access_key=AKIASMWTDRL5XHBOTJ6L
request_bucket_access_secret=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
temporary_files=/tmp
hdfs_master_node=localhost
spark_namespace=userdata
had_encryption_key=FevKNu7Y8fN5uUMkCd6zmtpeSC4c3GCF
populate_sparks=True
mysql_user=
mysql_pass=
mysql_host=
mysql_db=
# local_storage=True
spark_home=/u01/hadoop/spark
hadoop_home=/u01/hdoop/hadoop-2.10.2
jdk_home=/usr/lib/jvm/java-....
environment=development
# no_throttle=True
